.page1 {
  text-align: center;
  color: white;
  flex-direction: column;
}

body {
  background-color: #272727 !important;
}

/*.myName {
  font-size: 80 !important;
  width: 100%;
  font: 80;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}*/

span { 
  white-space:nowrap
}

.inlineLogo {
  width: 15px; 
  height: 15px;
}

table {
  border-collapse: collapse !important; 
}

.tableDiv {
  max-width: 75%;
}

@media (max-width: 1050px) {
  .tableDiv {
      max-width: 100%;
  } 
  table {
    border-collapse: separate;
    border-spacing: 2px 0 !important;
  }

  td {
    padding: 2px 0 !important;
  }
}

@media (max-width: 600px) {
  .tableDiv {
      max-width: 100%;
      margin-top: 100px;
  } 

  .experienceTableHeader {
    position: absolute; 
    top: 240px;
    left: calc(50vw - 150px)
  }

  table {
    border-collapse: separate;
    border-spacing: 2px 0 !important;
  }

  td {
    padding: 2px 0 !important;
  }
}

td {
  padding: 10px 15px;
}

th {
  padding: 10px 15px;
  border-bottom: 1pt solid white !important;
}

.myName {
  line-height: normal;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation: 
    typing 4s steps(40, end)
}

@media (max-width: 750px) {
  .myName {
    animation: 
      typing 2.5s steps(40, end)
  }
}

@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

.contentBox {
  text-align: center;
  border-radius: 5px;
  background-color: #3E3E3E;
  color: white !important;
  border-color: #3E3E3E !important;
  width: 65%;
}

.contentBox:hover, .experienceTable:hover {
  animation: scaleUp ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contentBox:not(:hover), .experienceTable:not(:hover) {
  animation: scaleDown ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scaleUp {
  0% {
    scale: 1; 
  }
  100% {
    scale: 1.02;
  }
}

.backgroundImages {
  animation: fadeInAnimation ease 3s;
}

@keyframes scaleDown {
  0% {
    scale: 1.02; 
  }
  100% {
    scale: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.myTitle {
  justify-content: center;
  align-items: center;
  height: 20;
  width: 450px;
  text-align: center;
  border-radius: 5px;
  background-color: #3E3E3E !important;
  color: white !important;
  border-color: #3E3E3E !important;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.nav-link.active {
  color: white !important;
  background-color: #3E3E3E !important;
  border: 0px !important;
}

.nav-link {
  color: white !important;
  background-color: #3E3E3E !important;
  border: 0px !important;
}

.myTitle:hover {
  animation: scaleUp ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.myTitle:not(:hover) {
  animation: scaleDown ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.navBar {
  align-content: center;
  justify-content: center;
  height: 10;
  width: 450px;
  text-align: center;
  border-radius: 0px;
  color: white;
  position: fixed; 
  top: 0; 
  z-index: 100;
  background-color: #3E3E3E;
}

@keyframes grow {
  0% {
    width: 450px;
  }
  100% {
    width: 100%;
  }
}

@keyframes shrink {
  0% {
    width: 100%;
    display: block;
  }
  100% {
    width: 450px;
    display: none !important;
  }
}

.hidden {
  /*color: #272727;
  animation: shrink 1s;*/
  display: none;
}

.shown {
  display: flex;
  animation: grow 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

.leftArrow,.rightArrow {
  width: 50px; 
  height: 50px;
  padding-left: 20px;
  filter: invert(100%)
}

.leftArrow:hover, .rightArrow:hover {
  animation: darkenHover ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.leftArrow:not(:hover), .rightArrow:not(:hover) {
  animation: lightenHover ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (min-width: 750px) {
  @keyframes darkenHover {
    0% {
      filter: invert(100%)
    }
    100% {
      filter: invert(50%)
    }
  }

  @keyframes lightenHover {
    0% {
      filter: invert(50%)
    }
    100% {
      filter: invert(100%)
    }
  }
}

.leftArrow {
  transform: rotate(180deg);
}

.slideLeftOut {
  animation: slideLeftOut ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slideLeftIn {
  animation: slideLeftIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slideRightOut {
  animation: slideRightOut ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slideRightIn {
  animation: slideRightIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideLeftOut {
  0% {
    transform: translateX(0vw);
    opacity: 1;
  } 
  100% {
    transform: translateX(-100vw);
    display: none;
    opacity: 0;
  }
}

@keyframes slideLeftIn {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  } 
  100% {
    transform: translateX(0vw);
    display: block;
    opacity: 1;
  }
}

@keyframes slideRightOut {
  0% {
    transform: translateX(0vw);
    opacity: 1;
  } 
  100% {
    transform: translateX(100vw);
    display: none;
    opacity: 0;
  }
}

@keyframes slideRightIn {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  } 
  100% {
    transform: translateX(0vw);
    display: block;
    opacity: 1;
  }
}