.page1 {
  text-align: center;
  color: white;
  flex-direction: column;
}

body {
  background-color: #272727 !important;
}

/*.myName {
  font-size: 80 !important;
  width: 100%;
  font: 80;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}*/

span { 
  white-space:nowrap
}

.inlineLogo {
  width: 15px; 
  height: 15px;
}

table {
  border-collapse: collapse; 

}

td {
  padding: 10px 15px;
}

th {
  padding: 10px 15px;
  border-bottom: 1pt solid white !important;
}

.myName {
  line-height: normal;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation: 
    typing 4s steps(40, end)
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

.contentBox {
  text-align: center;
  border-radius: 5px;
  background-color: #3E3E3E;
  color: white !important;
  border-color: #3E3E3E !important;
  width: 65%;
}

.contentBox:hover, .experienceTable:hover {
  animation: scaleUp ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contentBox:not(:hover), .experienceTable:not(:hover) {
  animation: scaleDown ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scaleUp {
  0% {
    scale: 1; 
  }
  100% {
    scale: 1.02;
  }
}

.backgroundImages {
  animation: fadeInAnimation ease 3s;
}

@keyframes scaleDown {
  0% {
    scale: 1.02; 
  }
  100% {
    scale: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.myTitle {
  justify-content: center;
  align-items: center;
  height: 20;
  width: 450px;
  text-align: center;
  border-radius: 5px;
  background-color: #3E3E3E !important;
  color: white !important;
  border-color: #3E3E3E !important;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.nav-link.active {
  color: white !important;
  background-color: #3E3E3E !important;
  border: 0px !important;
}

.nav-link {
  color: white !important;
  background-color: #3E3E3E !important;
  border: 0px !important;
}

.myTitle:hover {
  animation: scaleUp ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.myTitle:not(:hover) {
  animation: scaleDown ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.navBar {
  align-content: center;
  justify-content: center;
  height: 10;
  width: 450px;
  text-align: center;
  border-radius: 0px;
  color: white;
  position: fixed; 
  top: 0; 
  z-index: 100;
  background-color: #3E3E3E;
}

@keyframes grow {
  0% {
    width: 450px;
  }
  100% {
    width: 100%;
  }
}

@keyframes shrink {
  0% {
    width: 100%;
    display: block;
  }
  100% {
    width: 450px;
    display: none !important;
  }
}

.hidden {
  /*color: #272727;
  animation: shrink 1s;*/
  display: none;
}

.shown {
  display: flex;
  animation: grow 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
}